<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.Charts.WinForms" version="1.0.8" targetFramework="net40" />
  <package id="Guna.UI2.WinForms" version="2.0.4.4" targetFramework="net40" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.8.5" targetFramework="net40" />
  <package id="QRCoder" version="1.4.3" targetFramework="net40" />
</packages>